<div class="small-12 large-12 columns">
<h1>Editing Booksmark</h1>

<%= render 'form' %>

<%= link_to 'Show', @booksmark, :class => 'secondary button' %>
<%= link_to 'Back', booksmarks_path, :class => 'warning button' %>
</div>