<div class="row">
    <div class="jumbotron">
        <div class="container">
            <h3 class="text-center">New Bookmark</h3>
    		<%= render 'form' %>
    		<div class="text-left">
    		</div>
        </div>
	</div>
</div>
