<div class="row">
    <div class="small-12 large-12 columns callout large">
    <h4>New Bookmark</h4>
    <hr>

		<%= render 'form' %>
		<div class="text-center">
		<%= link_to 'Cancel', booksmarks_path, :class => "button alert" %>
		</div>
	</div>
</div>
